@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans:wght@700&family=Roboto:wght@300&display=swap');

*{
    font-family: Nunito Sans;
    color: #FFFFFF;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d1118;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calcBody{
    display: flex;
    flex-direction:column;
    width: 350px;
    height: 470px;
    padding:20px;
    background-color: #131925;
    border-radius: 10px;
    border: none;

    animation: slideInLeft 0.5s ease-in-out 0.3s 1 normal both;
}
@keyframes slideInLeft{
    0%{
        transform: translateX(-300px);

        opacity: 0;
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);

        opacity: 1;
        filter: blur(0);
    }
}

.display{
    height: 20%;
}
.screen{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 60px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    text-align: right;
}

.keycontainer{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.keycolumns{
    display: flex;
    justify-content: space-between;

}

.key{
    color: #fff;
    font-size: 34px;
    width: 87.5px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
}

.numkeys{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#numkey{
    height: 90px;
    width: 90px;
}
.specialkeys{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #d81e5b;
}

#special{
    font-size: 35px;
    color: #fff;
    height: 72px;
    font-weight: bolder;
}